{% extends "template.html" %}
{% block conteudo %}
        <table class="table table-striped table-responsive table-bordered">
            <thead class="thead-default">
                <tr>
                    <th>     </th>
                    <th>Nome</th>
                    <th>Play</th>
                    <th>Watch</th>
                    <th>Download</th>
                </tr>
            </thead>
            <tbody>
            {% for musica in musicas_simples %}
                <tr>
                    <td><img class="imagem-principal" src="{{ musica.thumbnail }}" alt=""; width="100%"; height="100%"></td>
                    <td>{{ musica.nome }}<p></p> <p>{{ musica.views }}</p> <p>{{ musica.duracao }}</p> </td>
                    <form>
                        <td><a href="{{ musica.stream_audio }}" class="btn btn-default">Play!</a></td>
                    </form>
                    <form>
                        <td><a href="{{ musica.stream_video }}" class="btn btn-default">Watch!</a></td>
                    </form>
                    <form> 
                        <td><a href="{{url_for ('download_audio') }}" class="btn btn-default">Download Audio!</a></td>
                    </form>
                </tr>
            {% endfor %}
            </tbody>
        </table>
{% endblock %}